.container-flex{
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    padding: 10px;
    line-height: 1.5;
    float: right;
    margin-top: 10px;
    margin-right: 60px;
}

.header-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px auto;
}

.add-icon{
    margin-left: 10px;
}

.title{
    margin: 0 0 0 10px;
    font-weight: 600;
}

.product-info{
    display: flex;
    align-items: center;
    width: 100%;
    height: 33,33%;
    margin: 10px auto;
}

.add-img{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    width: 40%;
    margin: 10px;
    padding: 15px;
}

.image-upload{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    margin: 5px auto;
}

.upload-btn{
    width: 100px;
    margin: auto;
    font-weight: 700;
    cursor: pointer;
}

.product{
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
    justify-content: center;
}

.product-name{
    width: 100%;
    float: inline-start;
    height: 25px;
    margin: 0 auto;
}

.product-section{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.price{
    width: 45%;
    float: left;
    margin: 5px;
}

.price h3{
    margin: 5px 0;
    font-weight: 400;
    font-size: 0.9rem;
}

.discount h3{
    margin: 5px 0;
    font-weight: 400;
    font-size: 0.9rem;
}

.price-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    height: 25px;
}

.icon-container{
    width: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
}

.icon-container span{
    font-size: 0.9rem;
    width: 25px;
    padding: 3px;
}

.preco{
    width: 80%;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2)
}

.preco::placeholder{
    text-align: right;
}

.data-inicio-desconto{
    width: 80%;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px;
}

.discount{
    width: 45%;
    float: left;
    margin: 5px;
}

.preco-desconto{
    width: 80%;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2)
}

.preco-desconto::placeholder{
    text-align: right;
}

.discount-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    height: 25px;
}

.data-final-desconto{
    width: 80%;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px;
}

.categories-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    width: 90%;
    margin: 10px auto;
}

.categories{
    width: 100%;
}

option [disabled]{
    text-align: center;
}

.description-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
}

.product-description{
    width: 99%;
    height: 200px;
    margin: 10px auto;
    border: 1px solid #000;
    border-radius: 5px;
    line-height: 1.5;
}

.product-description::placeholder{
    text-align: start;
}

@media screen and (max-width: 768px) {
   .container-flex{
       display: block;
       flex-flow: row wrap;
       align-items: center;
       position: absolute;
       top: 380px;
       margin: 10px auto;
       width: 100%;
       float: left;
   }

   .product-info{
       display: block;
       width: 100%;
       align-items: center;
   }

   .product-section{
       justify-content: center;
       width: 100%;
   }

   .product{
       width: 100%;
       margin: 0 auto;
   }

   .title{
       font-size: 1.2rem;
   }
   
   .product-name{
       margin: 0 auto;
   }

   .add-img{
       margin: 0 auto;
       width: 100%;
   }

   .product-description{
       width: 100%;
   }
}