.conteiner {
    position: relative;
    height: 600px;
    background-image: url("../../assets/img/kit.jpg");
    background-size: cover;
    background-color: #291810;
}

.login {
    height: 450px;
    width: 320px;
    border: 2px solid rgb(83, 65, 65);
    border-radius: 80px 0px 80px 0px;
    background-color: rgba(0, 0, 0, 0.664);
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -36%);
    box-sizing: border-box;
    padding: 30px 28px;
}

.usuario {
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 112px;
}

.titulo-login {
    margin: 0;
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    color: #bfbfbf !important;
}

.login p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(149, 149, 149);
}

.login input {
    width: 100%;
    margin-bottom: 21px;
}

.login input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 25px;
    color: rgb(149, 149, 149);
    font-size: 10px;
}

.btn__login {
    display: flex
}

.btn__login button {
    border: none;
    outline: none;
    height: 35px;
    width: 250px;
    color: #000;
    background: #fff;
    /*cor do botao enviar */
    border-radius: 25px;
    transition: 0.2s;
    margin: 0 auto;
}

.btn__login button:hover {
    cursor: pointer;
    background: var(--cor3);
    transition: 0.2s;

}

.login a {
    font-weight: bold;
    text-decoration: none;
    font-size: 10px;
    line-height: 20px;
    color: grey;
    transition: 0.2s;
}

.login a :hover {
    transition: 0.2s;
    color: var(--cor3);

}