.page-row-expanded {
    height: 100%;
    text-align: left;
    line-height: 150%;
    box-sizing: border-box;
}

.page-row {
    display: table-row;
}

.titulo {
    text-align: center;
}

.container-tela-carrinho {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-attachment: fixed;
    display: block;
    flex-direction: row;
    justify-content: center;
}

.lista-carrinho {
    background-color: white;
}

.titulo-lista {
    background-color: wheat;
}

.produto-escolhido {
    vertical-align: middle;
    box-sizing: border-box;
    text-align: left;
    width: 77px;
    height: 77px;
}

hr {
    box-sizing: content-box;
}

.mensagem {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.container-resumo-carrinho {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-attachment: fixed;
    display: block;
    flex-direction: row;
    justify-content: center;
}

.resumo {
    background-color: wheat;
}

.truck-icon {
    vertical-align: middle;
    margin: 8px;
}

.calcule-frete {
    flex-direction: column;
    align-items: flex-start;
}

.form {
    display: block;
    margin-top: 0em;
    background-attachment: fixed;
    width: 239px;
}

.form-frete {
    width: 239px;
    display: flex;
    margin-bottom: 5px;
}

.form-input {
    display: block;
    padding: 6px 12px;
}

.button {
    display: flex;
    background-clip: content-box;
}

.btn-button {
    border: 1px solid;
    border-radius: 0 5px 5px 0;
    background-clip: content-box;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 12px;
    cursor: pointer;
}

.d-grid gap-2 col-6 mx-auto {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    align-items: center;
    box-sizing: border-box;
    text-size-adjust: 100%;
}