.menu-lateral{
    border: solid 1px #ccc;
    margin: 5px 50px;
    background-color: #f7efe6;
}

.menu-lateral h3{
    margin: 10px 5px;
}

.menu ul li {
    width: 200px;
    height: 35px;
    border-bottom: solid 1px #ccc;
}

.menu a {
    padding: 5px;
    display: block;
}

.menu a:hover {
    color: white;
    text-decoration: none;
    background-color: #af8048;
}

.abrir-submenu{
    margin-right: 80px;
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
} 

td{
    width: 100px;
    padding: 5px;
    border-top: solid 1px #ccc;;
    border-bottom: solid 1px #ccc;
}

.separador {
    height: 20px;
    font-weight: lighter;
    color: #ccc;
    margin-right: 10px;
    margin-left: -10px;
}

table td:hover{
    background-color: #af8048;
}

table a:hover{
    color: white;
    text-decoration: none;
}