*{
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    box-sizing: border-box;
}

article {
    align-items: center;
    display: flex;
    margin-bottom: 16px; 
    justify-content: space-evenly;
}

.title-marcas {
    margin-top: 100px;
    padding: 20px;
}

.title2-marcas {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

.ver-marcas {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.img-marcas {
    max-width: 100%;
    display: block;
}

.marcas {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.marcas > div {
    flex: 1 1 200px;
    margin: 10px;

}
=======
}

body, input, button, select, textarea {
    font-family: 'Roboto', sans-serif;
}

a{text-decoration: none;} 
a:link{color:#6A26CD}   
a:visited{color:#6A26CD}
a:hover{color: #431488}  
a:active{color: #6A26CD} 

/* seção "OFERTAS" */
.slideshow-promo {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.botoes-promo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.slide-promo {
    display:none;
}


footer{
    background-color: rgb(75, 75, 75);
    color: honeydew;
    font-size: 0.8em;
}
>>>>>>> 9349c5c0adc2a2677c5daa2d0c40fbd5d65b20b8
