@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* INÍCIO RESET */
:root {
    --cor1: #fff;
    --cor2: #000;
    --cor3: #af8048;
    --cor4: #585555;
    --bg1: ;
    --bg2: ;
    --bg3: ;
    --padding: 24px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* FIM RESET*/
header,
footer {
    background-color: var(--cor2);
}

header,
asside,
main,
section,
article,
div,
footer {
    padding: var(--padding);
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
}

h1 {
    color: var(--cor4);
    font-family: 'Anton', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin: 24px auto;
    text-align: center;
    text-transform: uppercase;
}

h2,
h3 {
    color: var(--cor4);
    margin: 24px auto 16px;
    width: fit-content;
}

h2 {
    font-size: 1.25 rem;
}

h3 {
    font-size: 1.1 rem;
}

p {
    color: ;
    font-size: 1rem;
    /* line-height: espaço entre linhas */
    line-height: 24px;
    margin: 8px auto;
}

nav {
    display: flex;
    width: 100%;
    background:grey;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 0px;
}

nav .icon{
    font-size: 50px;
    font-weight: 1000;
    color: rgb(22, 22, 22);
    cursor: pointer;
    margin: auto 0;
}
nav .icon b{
    font-size: 30px;
    font-weight: 500;
    text-align: center; 
}

/* INICIO NOSSAS MARCAS */
/* INICIO TITULOS MARCAS */
.titulo-marcas>div {
    align-items: center;
    display: flex;
    /* flex-flow = flex-direction: row; flex-wrap: wrap; */
    flex-flow: row wrap;
    max-width: 800px;
    margin: 10px auto;
}

.titulo-marcas h2 {
    font-size: 3.5rem;
    color: #24273c;
    font-weight: 300;
    border: 5px;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

.titulo-marcas h4 {
    font-size: 1.2rem;
    color: #24273c;
    font-weight: 400;
    border: 5px;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

/* FIM TITULOS MARCAS*/
/* INICIO IMAGENS MARCAS*/
#marcas {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 10px auto;
}

.imagem {
    /* flex: 1 (flex-grow: 1 (expandir)) 1 (flex-shrink: 1 (diminuir)) 200 (flex-basis: 148px (tamanho mínimo da imagem)) */
    flex: 1 1 148px;
    margin: 10px;
    width: 148px;
    height: 148px;
    position: relative;
    /* overflow: hidden; */
    /* transition: opacity 500ms; */
}

.imagem img {
    border: 1px solid #616161;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 0.8s ease-out 0s;
}

  .imagem .frente {
    z-index: 1;
    transform: rotateY(0deg);
  }
  
  .imagem .verso {
    z-index: 0;
    /* opacity: 0; */
    transform: rotateY(180deg);
  }
  
  .imagem:hover .frente {
    /* opacity: 0; */
    transform: rotateY(180deg);

  }
  
  .imagem:hover .verso {
    /* opacity: 1; */
    transform: rotateY(0deg);

  }

/* FIM IMAGENS MARCAS*/
/* INICIO VER TODAS MARCAS */
.ver-marcas {
    max-width: 800px;
    text-align: center;
    align-items: center;
    display: block;
    border: 5px;
    margin: 10px auto;
    padding: 4px;
}

.ver-marcas h6 {
    font-size: .8rem;
    border: 5px;
    padding: 4px;
    margin: 10px auto;
}

.btn-ver-marcas {
    max-width: 800px;
    padding: 2px 4px;
    border: #fff;
    margin: 0 auto;
    color: #000;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    justify-content: center;
}

.btn-ver-marcas:hover {
    border-color: white;
    background-color: #000;
    color: white;
}
/* FIM VER TOAS AS MARCAS */
/* FIM NOSSSAS MARCAS */
nav ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: auto 0;
}

nav ol li {
    margin: 0 1px;
}

nav ol li b {
    color: #313131;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 10px;
}

.cart {
    display: flex;
    margin: auto 0;
}

#login {
    color: #313131;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 1px 5px;
    border-radius: 10px;
}

#login:hover {
    background: #5a5a5a ;
    color: #e2e1e1
}

nav .search_box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .search_box input {
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    width: 350px;
    border-radius: 50px;
}

nav .search_box span{
    color:#000 ;
    font-size: 16px;
    background: rgb(255, 255, 255) ;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    margin: 0px 0px 0px 10px;
    border-radius: 50px;
}

nav .search_box span:hover{
    color: #fff;
}

nav .search_box span::after {
    height: 100%;
    width: 0%;
    content: '';
    background: rgb(117, 117, 117) ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
    border-radius: 50px;
}

nav .search_box span:hover::after {
    width: 100%;
}

nav .bar{
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span{
    position: absolute;
    color: #fff;
    font-size: 35px;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}

@media screen and (max-width: 1250px){
    nav{
        display: block;
        padding: 0;
    }
    nav .icon{
        display: inline-block;
        padding: 15px 30px;
    }
    nav .search_box{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .search_box input{
        width: 90%;
    }
    nav ol{
        display: flex;
        flex-direction: column;
        background: #fff;
        height: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    nav ol li{
        text-align: center;
    }
    nav ol li a{
        color: #000;
        font-size: 16px;
        padding: 10px;
        display: block;
    }
    nav .bar{
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }
    nav .bar #times{
        display:none;
    }
    #check:checked ~ nav .bar #times{
        display: none;
    }
    #check:checked ~ nav .bar #bars{
        display: none;
    }
    #check:checked ~ nav ol{
        visibility: visible;
        height: 465px;
    }
}

article {
    align-items: center;
    display: flex;
    margin-bottom: 16px; 
    justify-content: space-evenly;
}

.title-marcas {
    margin-top: 100px;
    padding: 20px;
}

.title2-marcas {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

.ver-marcas {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.img-marcas {
    max-width: 100%;
    display: block;
}

.marcas {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.marcas > div {
    flex: 1 1 200px;
    margin: 10px;
}



body,
input,
button,
select,
textarea {
    font-family: 'Roboto', sans-serif;
}


a:link {
    color: #6A26CD
}

a:visited {
    color: #6A26CD
}

a:hover {
    color: #431488
}

a:active {
    color: #6A26CD
}

/* carrocel */

 main{
    display: grid;
    place-items: center;
    width: 100vw;
}

#itens-wrapper{
  width: 100vw;
  
}

#itens{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
}

.item{
    flex: none;
    width: 100%;
    height: 400px;
    scroll-snap-align: start;
    color: #a00f22;
    display: flex;
    position: relative;
   justify-content: center;
   align-items: flex-end;

}

.item *{ 
 z-index: 5;
}

.item p{ 
    margin-bottom: 0px;
    font-size: 30px;
    position: absolute;
   }


.img-jp{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: 0;
}

/* carrosel */


/* seção "OFERTAS" */
/* responsável: ANDREAS */

.container-botoes {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.botao-ofertas, .botao-mv {
    text-align: center;
    padding: 5px;
    margin:5px;
    border-bottom: 1px solid #ddbcbc;
    user-select: none;
}

.container-botoes a:hover {
    border-bottom: 2px solid #a00f22;
    cursor: pointer;
}

.slide-ofertas {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}

.slide-mais-vendidos {
    display: none;
    justify-content: space-around;
    flex-flow: row nowrap;
}

.produto-slide-promo {
    margin: 20px;
}

.produto-slide-promo p{
    text-align: center;
}

.slide-promo-img {
    width: 200px;
    height: 300px;
}

/* animação */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* seção "NOSSOS PRODUTOS" */

#produtos {
    text-align: center;
    display: inline-block;
    background-color: white;
    margin: auto;
    align-items: center;
    align-content: space-between;
}

#ladoalado {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;

}    

.img-produtos1 {
    height: 336px;
    width: 248px;
    position: relative;
    margin-top: 20px;
}

.img-produtos {
    height: 336px;
    width: 224px;
    position: relative;
}

#conheca-categoria {
    background-color: #d2d2d2;
    display: block;
}

#h2-produtos {
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 17px;
    font-style: inherit;
    align-content: flex-end;
}

/*-------------------------------Estilos gerais--------------------------------------------*/

footer {
    width: 100%;
    padding: 0 30px;
    background-color: rgb(75, 75, 75);
    color: honeydew;
    font-size: 10em;
}

.container {
    width: 100%;
    max-width: 1200px;
}

/*-------------------------------Estilos primer nivel--------------------------------------*/

.footer-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid rgb(173, 172, 172);
}

.footer-col {
    max-width: 300px;
}

/*-------------------------------Estilos específicos--------------------------------------*/

.row1 {
    margin-bottom: 15px;
    border-bottom: none;
}

#footer-logo {
    display: flex;
} 

footer section ul, h3 {
    line-height: 30px;
    list-style: none;
}

section.footer-subrow-social {
    margin-right:auto;
}

section.footer-col {
    margin: 0 2em;
}

.social-media {
    inline-size: 35px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 40px;
}

.footer-subrow-newsletter {
    width: 300px;
    line-height : 20px;
    margin-bottom: 15px;
}

.tbox input {
    background-color: rgb(197, 197, 197);
    height: 30px;
    border-radius: 8px;
    padding-left: 10px;
    border-style:solid;
    border-color: rgb(161, 161, 161);
    border-width: 0.1em;
    font-size: 0.8em
}

#name {
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#email {
    width: 170px;
    margin-right: 5px
}

#submit {
    width: 120px;
    background-color: transparent;
    color: honeydew;
    border-radius: 25px;
    padding: 4px;
    border-width: 0.2em;
    border-color: rgb(201, 16, 16);
    margin-bottom: 15px;
    font-size: 0.9em;
}

#submit:hover {
    background-color: rgba(240, 255, 240, 0.5);
    color: rgb(8, 4, 4);
    border-color:rgb(209, 209, 72);
    font-weight: 400;
    text-shadow: .1em .1em gray;
}

div.footer-row ul {
    list-style: none;
    margin-top: 15px;
    margin-bottom: 50px;
    line-height: 1.5em;
}

/*------------------NAVEGADOR FOOTER /CATEGORIAS-------------------*/

#categories {
    background:transparent;
    position: relative;
    padding-left: 0;
    padding-bottom: 25px;
}

#categories a {
    color: honeydew;
    margin-right: 20px;
}

.copyright {
    margin: auto;
    background-color: honeydew;
    color: black;
    width: 100%;
    font-size: 0.5em;
}

.footer-row .footer-col img {
    margin-bottom: 20px;
}





