
#btn-end {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem calc((100vw-1000px) / 2);
    z-index: 10;
    margin: 5px;

}

@media screen and (max-width: 768px) {
    #btn-end {
        display: none;
    }
}

#end {
    border-radius: 4px;
    background: #AF8048;
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

#end:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #AF8048;
}