.bloque-produtos {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap:1.5rem;
}

@media (max-width: 768px) {
    .bloque-produtos {
        grid-template-columns: 1fr;
        grid-gap:3rem;
    }  
} 

.produtos-segunda-coluna-inicio {
     padding: 15px 10px 0;
     border-radius: 8px;
    background-color: #af8048;
}

.opcoes-de-exibicao {
    display: flex;
} 

.numero-de-paginas {
    color: black;
    margin-left: 10px;
    margin-right: auto;
}

.numero-de-paginas> a:hover {
   color: white;
   text-decoration: none;
   font-weight: 500;
}

.filtrar-exibicao {
    margin-right: 20px;
    color: black;
}

.filtrar-exibicao i:hover {
    color: white;
}

.proxima-pagina {
    margin-right: 0px;
    display: flex;
    align-content: center;
    padding: 15px;
    margin:30px 0;
}

.proxima-pagina>i {
    margin: 5px 15px;
}

.proxima-pagina>i:hover {
    color:#af8048;
}
