.table-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 10px;
    float: right;
    padding: 10px;
    margin: 10px;
}

.table td,
.table th {
    padding: 0.4rem 0.3rem;
    vertical-align: middle;
}

/* .colunas{
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
} */


.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn-update {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: blue;
    transition: 0.4s;
    padding: 10px;
}

.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    transition: 0.4s;
    padding: 10px;
}

.btn-update:hover {
    border: whitesmoke;
}

.btn-delete:hover {
    border: whitesmoke;
}

/* th {
    padding: auto 10px;
    text-align: center;
    font-size: 1rem;
    word-wrap: break-word;
}

td {
    padding: auto;
    text-align: center;
    font-size: 1rem;
    word-wrap: break-word;
} */

td i {
    color: white;
    font-size: 10px;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .table-container {
        display: block;
        position: absolute;
        top: 450px;
        width: 100%;
        margin: 15px auto;
        padding: 15px 0;
    }

    .col-btn {
        width: 20px;
    }
}