.titulo-categorias {
    background-color: var(--cor2);
    display: flex;
    /* flex-flow = flex-direction: row; flex-wrap: wrap; */
    flex-flow: row wrap;
    flex: 1 1 100%;
    /* min-width: 576px; */
    margin: 5px auto;
    padding: 5px;
    align-items: center;
    margin-top: 0%;
}

.titulo-categorias h1 {
    font-size: 3.5rem;
    color: var(--cor1);
    font-weight: 300;
    border: 5px;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

.titulo-categorias h2 {
    font-size: 1.2rem;
    color: var(--cor1);
    font-weight: 400;
    border: 5px;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

#produtos {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    margin: auto;
    align-items: center;
    align-content: space-between;
}

#ladoalado {
    max-width: 100vw;
    display: flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    text-align: center;
    margin-top: 30px;
}

#ladoalado a {
    text-decoration: none;
    align-items: center;
}

#ladoalado h3 {
    display: inline-flex;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 8px;
}

.img-produtos1:hover {
    transform: scale(1.1);
}

.img-produtos1 {
    transition: all 1s linear;
    height: 336px;
    width: 248px;
    position: relative;
    vertical-align: top;
    background-color: lightgray;
    margin: 20px 8px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-produtos:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 544px) {
    .img-produtos1 {
        margin-top: 20px;
    }
}

.img-produtos {
    transition: all 1s linear;
    height: 336px;
    width: 224px;
    position: relative;
    background-color: black;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#h2-produtos {
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-style: inherit;
    font-size: 30px;
    align-content: flex-end;
}