.card{
    margin:10px;
}

.card-paragraph {
    font-weight: normal;
    line-height: 1.5em;
    margin: 2px 10px;
    text-align: center;
}

.btn-adicionarAoCarrinho {
    padding: 10px 10px;
    border-radius: 4px;
    background:#af8048;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: normal;   
}

.detalhes-do-produto {
    padding: 0 20px;
}
