:root {
    --amarelo: #EEA425;
    --azul: #5893A6;
    --branco: #fff;
    --chumbo: #3e3e3e;
    --cinza: #eee;
    --preto: #000;
    --vermelho: #A00B0B;
}

.hidden {
    background-color: transparent;
    color: transparent;
    height: 0;
    line-height: 0;
    margin: 0;
    max-height: 0;
    max-width: 0;
    opacity: 0;
    padding: 0;
    visibility: hidden;
    width: 0;
}

.container-usuarios-list {
    width: 80%;
    margin: 5px;
}

.table {
    /* display: flex;
    flex-flow: column wrap; */
    table-layout: fixed;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .users__table {
        font-weight: bold;
        margin: 24px auto;
    }

    .users__table th,
    .users__table td {
        padding: 6px 12px;
        flex-flow: column wrap;
    }

    .users__table td {
        display: flex;
        justify-content: center;
        align-items:center;
        /* overflow: hidden; */
    }

    .users__table td:not(:nth-child(n+7))::before {
        content: attr(data-title) ": ";
        font-weight: bolder;
    }

    .users__table thead {
        background-color: var(--azul);
        color: var(--branco);
    }

    .users__table thead tr th:first-child {
        color: transparent;
        font-size: 0;
    }

    .users__table thead tr th:first-child::before {
        color: var(--branco);
        content: 'Usuários';
        font-size: 16px;
    }

    .users__table thead tr th:not(:first-child) {
        display: none;
    }

    .users__table tbody tr td:last-child {
        border-bottom: 1px solid var(--cinza);
        margin-bottom: 16px;
        padding-bottom: 16px;
    }
}

.header-section-list {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
    max-height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px auto;
}

.list-icon {
    margin-left: 10px;
}

.user__id,
.user__name,
.user__lastname,
.user__email,
.user__pass,
.user__cpf,
.user__aniversario,
.user__id_endereco,
.user__id_regra {
    padding: auto;
    text-align: center;
    font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user__btn_eye .user__btn_update .user__btn_delete {
    word-wrap: normal;
    width: 20px;
}

.colunas {
    /* text-align: justify; */
}