@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.opcoes-de-pagamento {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
    margin: 5px;
    padding: 5px;
}

.opcoes-de-pagamento h3 {
    display: flex;
    flex: 1 0 100%;
    flex-flow: column nowrap;
    font-size: .8rem;
    border: 1px;
    margin: 5px;
    padding: 5px;
}

.pagamentos {
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
    justify-content:space-around;
}

.pagamento {
    background-color: rgba(175, 128, 72, 0.31);
    border: 1px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    justify-content: center;
    height: 200px;
    width: 318px;
    list-style: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}