@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.detalhes-da-compra {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
    margin: 5px;
    padding: 5px;
}

.detalhes-da-compra h2 {
    font-size: 1.8rem;
    border: 1px;
    margin: 5px;
    padding: 10px 5px;
}

.detalhes-da-compra h3 {
    font-size: .8rem;
    border: 1px;
    margin: 5px;
    padding: 10px 5px;
}

.endereco-entrega p {
    border: 1px;
    margin: 5px;
    padding: 5px;
}

.endereco-entrega {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border: 1px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    height: 150px;
    background-color: rgba(175, 128, 72, 0.31);
}


.opcoes-frete {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    margin: 5px;
    border: 1px;
    background-color: rgba(175, 128, 72, 0.31);
    height: 150px;
    justify-content: center;
    padding: 25px 35px;
}

.frete1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 1px;
    border-radius: 4px; 
    align-items: center;
    background: #fff;
    height: 50px;
    padding: 5px;
    border-bottom: 1px solid #000;
}

.frete2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 1px;
    border-radius: 4px;
    align-items: center;
    background: #fff;
    height: 50px;
    padding: 5px;
}

.data-frete {
    margin-left: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
}