#myModal {
    background: transparent;
    margin-top: 30px;
}

.navbar {
    background-color: black;
}

#buttonNAV {
    height: 38px;
    background-color: #af8048;
    border: none;
}

.boton-administrador{
    color: white;
   background:none;
   border: none;
   margin-right: 15px;
}
