@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* INÍCIO RESET */
:root {
    --cor1: #fff;
    --cor2: #000;
    --cor3: #af8048;
    --cor4: #585555;
    --padding: 20px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* FIM RESET*/

/* INÍCIO ESTILOS PADRÕES */

header,
footer {
    background-color: var(--cor2);
    color: var(--cor1);
}

/*header,
aside,
main,
section,
article,
div,
footer {
    padding: var(--padding);
} */

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
}

h1 {
    color: var(--cor4);
    font-family: 'Anton', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin: 24px auto;
    text-align: center;
    text-transform: uppercase;
}

h2,
h3 {
    color: var(--cor4);
    /* margin: 24px auto 16px; */
    width: fit-content;
}

h2 {
    font-size: 1.25 rem;
}

h3 {
    font-size: 1.1 rem;
}

p {
    color: var(--cor4);
    font-size: 1rem;
   /* line-height: espaço entre linhas */
    line-height: 24px;
    /* margin: 8px auto; */
}

/* FIM ESTILOS PADRÕES */

