@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#textdecorationinicio  {
    text-decoration: none;
}
#textdecorationsobre  {
    text-decoration: none;
}
#textdecorationcategorias {
    text-decoration: none;
}
#textdecorationmarcas  {
    text-decoration: none;
}
#textdecorationprodutos  {
    text-decoration: none;
}
#textdecorationpromocoes  {
    text-decoration: none;
}
