.about-container{
    background-image: url("../../assets/img/kit.jpg");
    background-size: cover;
    display: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 25px 25px 0 25px;
}

.sobre-nos{
    max-width: 1000px;
    border: 2px solid rgb(83, 65, 65);
    border-radius: 80px 0px 80px 0px;
    background-color: rgba(0, 0, 0, 0.664);
    box-sizing: border-box;
    display: column;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
 }

 .logo-container{
     display: flex;
     justify-content: center;
     align-content: center;
     margin: 0 auto;
     transform: translateY(-25px);
 }

.logo{
    border-radius: 50%;
}

 .titulo-sobre-nos{
    padding-bottom: 5px;
    letter-spacing: 5px;
    text-align: center;
    font-size: 20px;
    color: #bfbfbf;
    margin: 0 auto;
 }

 .sobre-texto{
    color: #bfbfbf;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
 }

 .card-section{
     display: grid;
     grid-template-columns: repeat(3, 250px);
     grid-auto-rows: minmax(100px, 200px);
     padding: 15px;
     grid-gap: 20px;
     justify-content: center;
     text-align: center;
 }

 .card-sobre{
     display: flex;
     flex-direction: column;
     max-height: 180px;
     border: 2px solid rgb(83, 65, 65);
     border-radius: 20px 0px 20px 0px;
     background-color: rgba(0, 0, 0, 0.664);
     margin: 5px auto;
     padding: 10px;
     justify-content: center;
 }

 .card-section i{
     color: #bfbfbf;
 }

 .company-assets{
     color: #bfbfbf;
     text-align: center;
     padding: 10px;
     max-width: 250px;
    font-size: small;
    margin-top: 15px;
 }

 @media screen and (max-width: 768px) {

    .card-section{
        display:flex;
        flex-flow: row wrap;
        align-content: center;
    }

    .card-sobre{
        max-height: 400px;
    }
    
    .company-assets{
        margin: 0 auto;
    }
 }
   