#boton-carrito {
    height: 50px;
    color: white;
    background-color: #af8048;
    border: none;
    padding: 0 50px;
}

#boton-carrito:hover {
    color: black;
    background-color: #af814871;
}

.container-products {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.container-products .cardzinho {
    padding-top: 30px 0px 0px;
    margin-top: 30px;
    border-radius: 5px;
}

.cardzinho {
    border-color: transparent;
    transition: all 1s linear;
}

.cardzinho:hover {
    border: 0.04rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.cardzinho:hover img {
    transform: scale(1.1, 1.1);
}

.cardzinho img {
    margin: 8px;
    transition: all 1s linear;
}